.gradle/
build/

# Eclipse stuff
.classpath
.project
.settings/

# VSCode stuff
.vscode/

# netbeans
nbproject/
nbactions.xml

# we use maven!
build.xml

# maven
target/
dependency-reduced-pom.xml

# vim
.*.sw[a-p]

# various other potential build files
build/
bin/
dist/
manifest.mf

# Mac filesystem dust
.DS_Store/
.DS_Store

# intellij
*.iml
*.ipr
*.iws
.idea/
out/

# Linux temp files
*~

# other stuff
run/


*.sh
multipaper.jar

!gradle/wrapper/gradle-wrapper.jar

# paperweight 2.x intermediates (mirrors Purpur 26.2)
/paper-server
/paper-api
/purpur-server
/purpur-api
/multipaper-server/build.gradle.kts
/multipaper-api/build.gradle.kts
/multipaper-server/src/minecraft
